*{
    font-family: arial;
    background-color: black;
    text-align: center;
    
}
h1{
    color: lightseagreen;
}
h2{
    color:lightpink;
}
body{
    color:lightblue
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}